<%= form_for @plug, html: {multipart: true} do |f| %>
  <% if @plug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plug.errors.count, "error") %> prohibited this plug from being saved:</h2>

      <ul>
      <% @plug.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit :Description %>
    <%= f.text_field :description, class: "form-control" %>
     </div>
     <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
