  <%= render 'pages/home' unless user_signed_in? %>

  <div id="plugs" class="transitions-enabled">
    <% @plugs.each do |plug| %>
      <div class="box panel panel-default">
        <%= link_to image_tag(plug.image.url(:medium)), plug %>
        <div class="panel-body">
         <p> <%= plug.description %></p>
          <p><strong><%= plug.user.email if plug.user %></strong></p>
          <% if plug.user == current_user %>
          <div class="actions">
          <%= link_to edit_plug_path(plug) do %>
          <span class="glyphicon glyphicon-edit"></span>
          Edit
          <% end %>
          <%= link_to plug, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
            Delete
            <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  
</div>


