  <div id="plugs" class="transitions-enabled">
    <% @plugs.each do |plug| %>
      <div class="box panel panel-default">
        <%= image_tag plug.image.url(:medium) %>
        <div class="panel body">
          <%= plug.description %>
          <%= plug.user.email if plug.user %>
          <%= link_to 'Show', plug_path(plug) %>
          <% if plug.user == current_user %>
          <%= link_to 'Edit', edit_plug_path(plug) %>
          <%= link_to 'Destroy', plug, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
    <% end %>
  
</div>


