<%= link_to 'Back', plugs_path %>

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading center">
<%= image_tag @plug.image.url(:medium) %>
</div>
<div class="panel-body">
<p><%= @plug.description %></p>
<p><strong><%= @plug.user.email if @plug.user %></strong></p>

<% if @plug.user == current_user %>
	     <%= link_to edit_plug_path(@plug) do %>
       <span class="glyphicon glyphicon-edit"></span>
          Edit
      <% end %> 
<% end %>

      </div>
    </div>
  </div>
</div>